/* formulario de registro*/


main section{
    position: relative;
    left: 50%;
    bottom: -10%;

    width: 500px;
    height: 350px;

    align-content: center;
    background-color: blue;
}

section>label+input{
    position: relative;

    display: block;

    width: 250px;

}